:root{
  --ms-green: #1abc9c;
  --ms-dark-blue: #2c3e50;
  --ms-light-blue: #3a546d;
}

/* debug */


/* COMMON */

.ms_green_bg{
  background-color: var(--ms-green);
}

.ms_dark_blue_bg{
  background-color: var(--ms-dark-blue);
}

.ms_light_blue_bg{
  background-color: var(--ms-light-blue);
}

.ms_green_text{
  color: var(--ms-green);
}

.ms_dark_blue_text{
  color: var(--ms-dark-blue);
}

.ms_light_blue_text{
  color: var(--ms-light-blue);
}

/* UTILITIES */

header{
  height: 5.625rem;
}

main{
  padding-top: 5.625rem;
}

section{
  padding: 2.5rem 0;
}

.ms_logo{
  font-size: 1rem;
}

.ms_font_medium{
  font-weight: 600;
}

.ms_jumbotron_img{
  height: 200px;
  width: 200px;
  margin: auto;
}

.ms_line{
  height: 3px;
  width: 4rem;
}

h2{
  font-size: 1.5rem;
}




@media screen and (min-width: 768px) {
  
  section{
    padding: 5rem 0;
  }

  .ms_logo{
    font-size: 1.3rem;
  }

  .ms_navlink{
    font-size: 0.9rem;
    font-weight: 500;
  }

  .ms_line{
    height: 3px;
    width: 6rem;
  }

  #ms_jumbotron ul li{
    font-size: 1.3rem;
  }

  h2{
    font-size: 3rem;
  }

}


@media screen and (min-width: 992px) {

  .ms_line{
    height: 4px;
    width: 9rem;
  }

}


